body {
  margin: 0;
  background-color: #110E16;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

/* --- NAVBAR PRINCIPAL --- */
.radio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 10px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* --- LOGO E NOME --- */
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.site-nome {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ddd;
  text-transform: uppercase;
}

/* --- BOTÕES CENTRAIS --- */
.radio-navbar {
  display: flex;
  background: #000;
  border-radius: 8px;
  padding: 4px;
  gap: 2px;
}

.radio-navbar input {
  display: none;
}

.radio-navbar label {
  flex: 1;
  background: linear-gradient(to bottom, #333, #242424);
  color: #ccc;
  text-align: center;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  transition: 0.15s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.radio-navbar label:hover {
  filter: brightness(1.2); /*brilinho quando passa o mouse*/
}

.radio-navbar input:checked + span {
  color: #eeea7f; /*igual um active para quando clica no botão*/
  text-shadow: 0 0 10px #fafdca; /*brilho quando clica no botao + em geral*/
}

.radio-navbar label:has(input:checked) {
  background: #1d1d1d; /*muda quando clica no botao - fica mais escuro*/
  box-shadow: inset 0 0 6px rgba(0,0,0,0.6); /*sombra da caixa p ficar mais "fundo"*/
}

/* --- DROPDOWN --- */
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #333, #242424);
  color: #ccc;
  text-align: center;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  transition: 0.15s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.dropdown label:hover {
  filter: brightness(1.2);
}

/* dropdown alinhado certo agr */
.dropdown-conteudo {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background: #1d1d1d;
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
  overflow: hidden;
  flex-direction: column;
  min-width: 140px;
  z-index: 10; /*sobrepoe as coisas - como se fossem camadas*/
}

.dropdown-conteudo a {
  color: #ccc;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;

}

.dropdown-conteudo a:hover {
  background: #2c2c2c;
  color: #cae2fd;
}

/* mostra ao passar o mouse */
.dropdown:hover .dropdown-conteudo {
  display: flex;
}

/* --- BOTÃO DE LOGIN --- */
.login-btn {
  background: linear-gradient(to bottom, #333, #222);
  color: #ccc;
  border: none;
  border-radius: 2px;
  padding: 10px 18px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  transition: 0.15s;
}

.login-btn:hover {
  color: #cae2fd;
  text-shadow: 0 0 10px #cae2fd;
  background: #1d1d1d;
}


/* PARTE DO VIDEO */
.video-secao {
  width: 100%;
  height: 625px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.video-banner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* video preenche o espaço */
  display: block;
}


.video-banner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
