/*SECTION DO CATALOGO - 3 */

/*  CONTAINER PRINCIPAL  */
.catalogo-container {
  display: flex;
  height: 100vh; /* ocupa a tela toda */
  overflow: hidden;
}

/*  LADO ESQUERDO  */
.catalogo-esquerda {
  flex: 1; 
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogo-esquerda img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*NAO SEI COMO FUNCIONAAAAAAAAAAAAAAA*/
}

/*  LADO DIREITO  */
.catalogo-direita {
  flex: 1.3;
  background-color: #2c2b2f;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.catalogo-direita h2 {
  margin: 0 0 32px 0;
  font-size: 26px; /*1.4rem - nao sei como funciona o rem*/ 
  text-transform: lowercase;
}

/* --- scroll interno dentro do catalogo --- */
.catalogo-scroll {
  overflow-y: auto;
  flex: 1;
  padding-right: 10px;
}


/*nao sei se pode (mas é p deixar bonito) =============================================*/
.catalogo-scroll::-webkit-scrollbar {
  width: 8px;
}

.catalogo-scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}


/*  itens que estao dentro do catalogo  */
.item {
  background-color: #3d3b3f;
  margin: 20px;
  border-radius: 10px;
  height: 120px;
  margin-bottom: 15px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SECTION DO JOGO  - 4 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Container geral */
.jogo-container {
  display: flex;
  height: 100vh;
}

/*  esquerda  */
.jogo-esquerda {
  flex: 1;
  background-color: #1e1d1f;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jogo-esquerda h2 {
  font-size: 1.6rem;
  margin-bottom:35px;
}

/* Caixa de texto laranja p as regras */
.caixa-texto {
  background-color: #b14b15;
  background-image: url(../assets/img/img_fundoLaranja_jogo.png);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.caixa-texto p {
  margin: 10px 0;
  line-height: 1.4; /*testar depois*/
}

/* botão do jogo */
.botao-iniciar {
  margin-top: 20px;
  background-color: #f5f5f5;
  color: #000;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  /*transition: background 0.2s; vai saber pq ficou vermelho*/
}

.botao-iniciar:hover {
  background-color: #ddd;
}

/* direita  */
.jogo-direita {
  flex: 1.2;
  background-color: #2c2b2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colagem {

  width: 100%;
  height: 100%;
}

.colagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
